# .github
.vscode
# build
example
node_modules

# Logs
*.log
npm-debug.log

# Runtime data
tmp
dist

# Dependency directory
Pods

# Environment
.idea
.eslintrc.js
.gitattributes
.gitignore
.npmignore
.prettierrc

# Build configs
.gradle

# Example
local.properties
scripts
